*{
    background-color: purple;
}

.container{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    gap: 10px;

}
.div1{
    background-color: white;
    width: 200px;
    height: 200px;

}
.div2{
    background-color: white;
    width: 200px;
    height: 200px;

}
.div3{
    background-color: white;
    width: 200px;
    height: 200px;

}
.div4{
    background-color: white;
    width: 200px;
    height: 200px;

}